@{
    ViewBag.Title = "Home Page";
}

<br />

@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
<div style="top: 10%; left: 40%; position: absolute;">

    <input type="text" class="form-control" name="searchString" />
    <button type="submit" style="margin-top:10px; margin-left:35px;"
            class="btn btn-primary">
        Search GitHub
    </button>
</div>
}


